@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

body {
  background: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Lato', sans-serif; */
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.page-heading {
  text-align: center;
  margin: 50px 0;
}

.page-heading h4 {
  color: #e80000;
  border-bottom: 1px solid;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 10px;
  font-weight: 400;
  letter-spacing: 1px;
}

.page-heading h2 {
  margin-top: -9px;
  text-transform: uppercase;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.single-team-member {
  width: 33.3333%;
  padding-left: 15px;
  padding-right: 15px;
}

.single-team-member-inner {
  position: relative;
  box-shadow: 3px 4px 8px #0000005e;
}

.team-member-image {
  padding: 40px;
  text-align: center;
}

.team-member-image img {
  border-radius: 50%;
}

.team-member-info {
  background: #000000;
  color: #fff;
  padding: 20px;
}

.team-member-meta span svg {
  width: 18px;
  color: #fff;
}

.team-member-meta span {
  width: 30px;
  background: #e80000;
  height: 30px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  margin-right: 10px;
}

.team-member-meta p {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.team-member-hover {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 30px;
}

.team-member-hover .team-member-info {
  padding: 0;
  margin-bottom: 40px;
}

.team-member-meta {
  margin-bottom: 25px;
}

.team-member-hover {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  border-top: 10px solid #e93732;
}

.team-member-hover {
}

.single-team-member:hover .team-member-hover {
  opacity: 1;
  visibility: visible;
}
